{# empty Twig template #}

{% extends '::base.html.twig' %}

 {% block title %}4x4 Response Group Task Manager - Failed{% endblock %}
 {% block css %}<link href="/css/signin.css" rel="stylesheet">{% endblock %}
 {% block body %}
 <div class="container">

     <p>Nie działa</p>
    <p><a href="{{path('adg13_login_homepage')}}">Back to Login Page</a></p>

    </div> 
{% endblock %}