
{% extends '::base.html.twig' %}

 {% block title %}4x4 Response Group Task Manager - Homepage{% endblock %}
 {% block css %}<link href="/css/signin.css" rel="stylesheet">{% endblock %}
 {% block body %}
 <div class="container">

     <p>Działa</p>

    </div> 
{% endblock %}