 {% extends '::base.html.twig' %}

 {% block title %}4x4 Response Group Task Manager{% endblock %}
 {% block css %}<link href="/css/signin.css" rel="stylesheet">{% endblock %}
 {% block body %}
<div class="container">
    
    <form class="form-signin" role="form" method="POST" action="{{path('adg13_login_homepage')}}">
        <h2 class="form-signin-heading">Please Log in</h2>
        <input type="email" class="form-control" name="email" placeholder="Email address" required autofocus>
        <input type="password" class="form-control" name="password" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <a href="{{path('adg13_admin_add_member')}}">Sign up</a>
    </form>
    


</div> 
{% endblock %}