{% extends 'adg13UserBundle:Template:index.html.twig' %}    
{% block css %}<link rel='stylesheet' type='text/css' href='/css/fullcalendar.css' />{% endblock %}
{% block head %}

{% endblock %}
{% block body %}
<div class="container">
    <div class="bs-docs-section">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header">
                    <h2 id="Calendar">Calendar</h2>
                </div>
            </div>           
        </div>
        <div class="well">
            <div class="row">
                <div class="form-group">
                    <div class="col-lg-12">   
                        <div id='calendar'></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 
{% block js %}
<script type="text/javascript" src="/js/jquery-ui.custom.min.js"></script>
<script type='text/javascript' src='/js/fullcalendar.min.js'></script>

<script type='text/javascript'>
    var adg13_user_calendar_add_event = '{{ path('adg13_user_calendar_add_event') }}';
    var adg13_user_calendar_display_events = '{{ path('adg13_user_calendar_display_events') }}';
</script>
<script type='text/javascript' src='/js/calendar.js'></script>
{% endblock %}