{% extends 'adg13UserBundle:Template:index.html.twig' %}    
{% block css %}<link rel='stylesheet' type='text/css' href='/css/fullcalendar.css' />{% endblock %}
{% block head %}

{% endblock %}
{% block body %}
<div class="container">
    <div class="bs-docs-section">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header">
                    <h2 id="Calendar">Calendar</h2>
                </div>
            </div>           
        </div>
        <div class="well">
            <div class="row">
                <div class="form-group">
                    <div class="col-lg-12">   
                        <div id='calendar'></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 
{% block js %}
<script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui.custom.min.js"></script>
<script type='text/javascript' src='/js/fullcalendar.min.js'></script>

<script type='text/javascript'>
    var adg13_user_calendar_add_event = '{{ path('adg13_user_calendar_add_event') }}';
    $(document).ready(function() {
    var date = new Date();
            var d = date.getDate();
            var m = date.getMonth();
            var y = date.getFullYear();
            var calendar = $('#calendar').fullCalendar({
    header: {
    left: 'prev,next today',
            center: 'title',
            right: 'month,agendaWeek,agendaDay'
    },
            selectable: true,
            selectHelper: true,
            select: function(start, end, allDay) {
            var title = prompt('Event Title:');
                    if (title) {
            calendar.fullCalendar('renderEvent',
            {
            title: title,
                    start: start,
                    end: end,
                    allDay: allDay
            },
                    true // make the event "stick"
                    );
            }
            $.ajax({
            url: adg13_user_calendar_add_event,
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({
                    title: title,
                            start: start,
                            end: end,
                            allDay: allDay
                    }),
                    dataType: 'json'
            });
                    calendar.fullCalendar('unselect');
            },
            editable: true           
    });
    });
</script>
{% endblock %}