{% extends ':Admin:index.html.twig' %}
{% block css %}<link rel="stylesheet" href="/css/forms.css">{% endblock %}
{% block body %}
<div class="container">
    <div class="bs-docs-section">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header">
                    <h2 id="add_member">Edit member: {{user.personal.firstName}} {{user.personal.lastname}}</h2>
                </div>
            </div>           
        </div>
        <!--Left form-->
        {%form_theme form 'adg13AdminBundle:Form:fields.html.twig'%}
        {{ form(form) }}
{% endblock %} 